.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.child {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  margin: 30px;
  border-radius: 10px;
}

